<body>
    <main id="main-admin-products">
        <h2 class="admin-products-add">Cadastro dos Livros</h2>
        <p>
            <%= product.Title %>
        </p>
        <p>
            <%= product.Autor %>
        </p>
        <p>
            <%= product.description %>
        </p>
        <p>
            <%= product.Valor %>
        </p>
        <p>
            <%= product.active %>
        </p>

    </main>
</body>